/*  MAIN TAGS
*/
body{
  background-color: #333333;
  padding: 0;
  padding-bottom: 15px;
  margin: 0;
  font-family: 'Jaldi', sans-serif;
}
img{
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    border: #101f38 3px solid;
}
hr{
  color:black;
  margin-top: 0px;
}
h1{
  text-align: center;
  color: #101f38;
}
h2{
  margin: 0.5px 1px;
  background-color:#fcfcfc;
  box-shadow: 0.3px 0.1px #101f38;
}
h4{
  margin: 0px;
}
ul{
  line-height: 1.5;
  background-color: #fdfff7;
}
/* PAGE CONTAINER WHITE SPACE */
.pageContainer{
  margin: auto;
  padding: 5px 45px;
  border-radius: 3.5px;
  box-shadow: 8.5px 1.5px #101f38;
  width: 45%;
  background-color: white;
}
/* HEADER DIV STYLES */
.headStyle{
  background-color:#fcfcfc;
  border-radius: 3.5px;
  box-shadow: 0.5px 0.2px #101f38;
  height: 15%;
  width: 41%;
  padding: 1px 0;
  margin: 5px auto;
}
/*  CONTACT INFO DIV*/
.contactInfo{
  margin: 4px 0px 4px 32px;
  padding-bottom: 0px;
  background-color:#fcfcfc;
  color: #101f38;
}

/* HR BREAKING SECTION TITLES */
.hrStyles{
  margin-top: 0px;
  margin-left: 0px;
  color: #bf0d33;
  border-radius: 15px;
}
.educationBox{
    width: 35%;
}
.languageBox{
  width: 50%;
}
.experienceBox{
  width:62%;
}
.educationHR{
  width: 35%;
}
.languagesHR{
  width: 50%;
}
.recentExperienceHR{
  width: 62%;
}
/* TEXT ALIGNMENT */

.gradYear{
  padding-left: 285px;
}
.centerSpaceEmail{
  padding:0 95px;
  color: DodgerBlue;
  text-decoration:  underline;
}
.centerSpaceBLG{
  padding:0 51px;
}
.centerSpaceCls{
  padding:0 40px;
}
.centerSpaceBs{
  padding:0 86px;
}
.centerSpaceTrla{
  padding:0 28px;
}
.centerSpaceWfs{
  padding:0 15px;
}
.centerSpaceAc{
  padding:0 120px;
}
/* ICONS */
.fa-graduation-cap{
  padding: 0 3px;
  color: #101f38;
}
.fa-language{
  padding: 0 3px;
  color: #101f38;
}
.fa-address-card{
  padding: 0 3px;
  color: #101f38;
}
