@import url('https://fonts.googleapis.com/css?family=Song+Myung');

body {
    background: #c1886a;
    color: #ffc6a8;
    text-shadow: 2px 2px #151e38;
    font-family: 'Song Myung', serif;
    margin: 0;
    border: solid #b600ff;
    border-width: 0 .1em .5em .1em;
    overflow: hidden;
}
.topDiv{
  margin-bottom:  0;
  background-color: #20877e;
  border: solid #b600ff;
  border-width: 0 .3em .2em .3em ;
  height: 5%;
}
.row {

    margin: 0;
    background: #320047;
    border: solid #b600ff;
    border-width: 0 .3em .1em 1.3em ;
    display: grid;
    grid-template-columns: 35% auto 35%;
    align-items: center;
}

.priceContainer {
    background: #c1886a;
    padding: : 0 0.1px;
    text-align: center;
    font-weight: bold;
}
#goal-container {
    padding: 20px;
    border-top: 4.3em black solid;
    border-bottom: 4.3em red solid;
}
.rightContainer{
  padding: 5px;
  margin-right: 1em;
}

.subtext {
    font-size:.8em;
    text-transform: uppercase;
    /*margin-bottom: 10px;*/
}
img {
    width: 20px;
}
.bellowLoading{
  height: 15%;

}
.circleDiv{
    padding-top: 3%;
}
svg{
  clear: both;
}
circle {
  width: 130px;
  mix-blend-mode: screen;
}
.bellowNotify{
  height: 10em;
  background-color: #151e38;
}
.isolate {
  isolation: isolate;
}
 /* without isolation, the background color will be taken into account */
.logo{
  font-size: 1.8em;
  text-align: left;
  padding-right: 1em;
  color: #e5edf9;
}
h1 {
    margin: 0 0 10px 0;
}

button {
    float: right;
    background: #c2ce52;
    border: none;
    color: #560700;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 80px;
    cursor:pointer;
}
