
/* FONT */
@font-face {
    font-family: 'Abraham Lincoln';
    src: url('../fonts/abrahamlincoln-webfont.woff2') format('woff2'),
         url('../fonts/abrahamlincoln-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Black';
    src: url('fonts/GothamBlack.woff2') format('woff2'),
        url('fonts/GothamBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  /* POSITION CLASSES */
  .inlineBlockFloatLeft{
    display: inline-block;
    float:left;
  }
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
.mainContainer{
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  font-size: 16px; /*16px=1em*/
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif; */
}
header{
  padding-top: 5%;
  padding-left: 5%;
  background-color: rgba(0,0,0, 0.01);
  height: 25%;

}
.noWidth{
  height: 0;
  width: 0;
}
/* (1)FIRST SECTION */
/* RAINKISS BLOCK */
.rainKissBlock{
  display: inline-block;
  position: relative;
  
  background-image: url("../images/snow_bg.png");
  background-color: #161616;
  border:0;
  margin: 0;
  padding: 0;
  /*FULL HEIGHT*/
  height: 100%;
  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.unityLogo{
  /* POSITION */
  margin: auto;
  padding: 1px 1px;
  border: white solid 0.005em;
  /* FONT */
  text-align: center;
  font-size: 2em;
  font-style: sans-serif;
  width: 6em;
  color: white;
}
.topMenu{
  padding-left: 20%;
}
li{
  margin: 0px 2em;
  display: inline;
  color: white;
  list-style: none;
}
.copyright{
  padding-right: 10%;
}
.phoneLine{
  clear: both;
  position: absolute;
  top: 0;
  left: 96%;
  border-right: solid rgba(192,192,192,0.2) .09em;
  height: 9%;
  width: 1%;
}
.phoneBall{
  background-color: #ffa800;
  /*POSITION*/
  margin-left: 95%;
  padding: 1%;
  /*SCALE*/
  width: 2%;
  border-radius: 50%;
}
.rotatedSocialMediaMenu{
  transform: rotate(-90deg);
  margin-top: 30%;
  margin-left: 50%;
  /* SCALE */
  width: 93%;/*WIDTH HAS TO BE THIS LARGE OR ROTATED NAV GETS SQUEEZED*/
  font-size: 1em;
}
.honorDetail{
  clear: both;
  margin-top: 30%;
  text-align: center;
  color:yellow;
  font-size: 3em;
  font-family: 'Abraham Lincoln';
  color: rgb(255, 168, 0);
}

.honorDetailDescription{
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Abraham Lincoln';
}
.rectIcon{
  display:block;
  margin: auto;
  padding-top: 10%;
}
.scroll{
  text-align: center;
  padding-top:0;
  margin-top:0;
  /* FONT */
  font-size: 1.5em;
  color: white;
}
.downArrow{
  width: 2%;
  display: block;
  margin: 5% auto;
  padding-bottom: 30%;
}
/* WHITE RECTANGLE DIV  */
.whiteRectangleDiv{
  /*Only used to help align .whiteRectangle
  Otherwise elements scrolled with page*/
}
.whiteRectangle{
  position: absolute;
  bottom: -19%;
  left: 23%;
  border: solid 25px white;
  height: 30%;
  width: 50%;
  color: white;
}
.brushBox{
  position: absolute;
  z-index: 1;
  top: 107%;
  right: -3%;
}
.brushBoxShadow{
  position: absolute;
  z-index: 0;
  left: 52%;
}
/*(2) NEXT SECTION */
/* BLUE BOX SECTION */
/********PLEASE READ MOST OF THE BLUE BACKGROUND IS IN .story2Tell**************/
.blueBlock{
  /* BACKGROUND*/
  background-color: #694fca;
  /* POSITION */
  position: relative;
  clear: both;
  z-index: -1;
  border:0;
  margin: 0;
  padding: 0;
  height: 100%;
  /* Scale */
  /*FULL HEIGHT*/
  height: 68em;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.zero1{
  /* POSITION */
  display: inline-block;
  margin: 0;
  padding-left: 8%;
  /* FONT */
  font-size: 26em;
  color: yellow;
  font-family: "Abraham Lincoln";
  color: rgb(255, 168, 0);
  letter-spacing: -9px;
  font-weight: 100;
}
.invitesContainer{
  /* POSITION */
  position: relative;
  top: 57%;
  left: 7%;
  /* FONT STYLES */
  font-family: "Abraham Lincoln";
  font-weight: 100;
  color: white;
}
.invites{
  margin: 0;
  /* FONT  */
  font-size: 7em;
  font-weight: 100;
}
.invites h3{
  text-align: right;
}
.invent{
  margin:0;
  font-size: 2em;
  color: white;
}
.complexity{
  /* POSITION */
  margin: 0;
  padding-left: 10%;
  padding-right: 0;
  line-height: 2.5%;
  /*SCALE*/
  width: 20%;
  /* FONT */
  font-family: "Abraham Lincoln";
  font-weight: 100;
  font-size: 3em;
  color: white;
}
.story2Tell{
  clear: both;
  position: absolute;
    
  width: 100%;
  height: 65%;
  background-color: #694fca;
  /* POSITION */
  top: 50%;
  left: 30%;

  padding-left: 0;
  /* FONT */
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}
.cureOuterBox{
  clear: both;
  position: relative;
  top: 5%;
  left: 10%;

}
.cureBox{
  width: 23%;
  margin-right: 5%;
  background-color: #694fca;
  color: #ffffff;
}
.cureIcon{
  width: 15%;
}
.cureTitle{
  color: #ffa800;
}
.horizontalWhiteLine{
  clear: both;
  border-bottom: solid #ffffff 1px;
  width: 15%;
}
.creativeDesigns{
  /* float:left; */
}
.oneHundredSupport{
  /* float:left; */
}
.yellowDash{
  clear: both;
  border-bottom: yellow 0.3em solid;
  margin-right: 1%;
  width: 3%;
  border-radius: 20%;
  position: relative;
  margin-top: 2%;
  top: 20%;
  left: 35%;
}
.whiteDashSmall{
  border-bottom: white 0.3em solid;
  width: 1%;
  margin-right: 1%;
  border-radius: 20%;
  margin-top: 2%;
  position: relative;
  top: 20%;
  left: 35%;
}
/* (3)NEXT SECTION */
/*BUILDING LANDSCAPE BLOCK  */
.buildingLandscapeBlock{
  /* BACKGROUND */
  background-image: url("../images/buildingLandscape.png");
  background-color: #c4c4c5;
  background-repeat:no-repeat;
  background-position: center ;
  /* POSITION */
  position: relative;
  padding-top: 5%;
  margin: 0;
  border: 0;
  /* Scale */
  height: 87em;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.weAreUnity{
  /* POSITION */
  text-align: center;
  z-index: 0;
  margin: 0;
  /* FONT */
  font-family: "Abraham Lincoln";
  color: rgba(0, 0, 0, 0.102);
  font-size: 20em;
  word-spacing: 0.01em;
  font-weight: 100;
}
.weLoveClients{
  /* POSITION */
  position: absolute;
  z-index: 1;
  bottom: 81.3%;
  left: 33%;
  margin: 0;
  /* FONT */
  font-size: 5em;
  font-family: "Abraham Lincoln";
  font-weight: 100;
  color: rgb(0, 0, 0);
}
.takePride{
  width: 65%;
  /* POSITION */
  position: absolute;
  top: 18%;
  left: 25%;
  text-align: center;
  z-index: 1;
  margin-top: 0;
  /* FONT */
  font-family: "Poppins";
  font-size: 1.5em;
  color: black;
}

/* PLAY BUTTON AND CONTAINING GREY CIRCLES */
.transparentCircle{
  position: absolute;
  bottom: 60.4%;
  left: 41.2%;
  height: 15%;
  width: 15%;
  background-color: transparent;
  border: black solid 1px;
  border-radius: 50%;
  z-index: 9;
}
.outerCircle{
  position: absolute;
  top: 2%;
  left: 23%;
  height: 55%;
  width: 55%;
  background-color: #d0d0d1;
  border: black  solid 1px;
  border-radius: 50%;
  margin-top: 19%;
}
.innerCircle{
  position: absolute;
  top: 25%;
  right: 25%;
  height: 45%;
  width: 45%;
  background-color: #d0d0d1;
  border: black solid 1px;
  border-radius: 50%;
}
.fa-play{
  position: absolute;
  top: 40%;
  right: 38%;
  color:black;
}
/*IMPORTANT-THE margin:bottom spaces .blackSquare03 and
the .histerHoldingLeaves*/
.blackSquare02{
  position: absolute;
  z-index: 5;
  top: 75%;
  right: 25%;
  height: 68em;
  padding: 0;
  border: solid 25px black;
  height: 45%;
  width: 45%;
  color: black;
}
.blackBoxHonorContainer{
 /* position: absolute;
  top: 35%;
  right: 45%;*/
}
.blackBoxHonorDetails{
  position: absolute;
  top: 10%;
  width: 50%;
  padding-left: 25%;
  letter-spacing: -1px;
  line-height: 0;
  text-align: right;
  font-size: 6em;
  font-family: "Abraham Lincoln";
}
.globalService{
  font-size: 1.5em;
  letter-spacing: -1px;
  margin: 0;
  margin-left: 50%;
}
.pencilBox{
  position: absolute;
  bottom: -8%;
  left: -30%;
}
.twoPencilsCropped{
  position: absolute;
  top: 107%;
  right: 65%;
  z-index: 5;
}
.zero2Box{
  /* POSITION */
  position: absolute;
  top: 12%;
  left: 105%;
}
.zero2{
  /* FONT */
  color: black;
  font-size: 20em;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  letter-spacing: -10px;
}
/* (4)FORREST BLOCK */
/* NEXT SECTION */
/* FORREST BLOCK */
/*.forrestSkySpace to create Space for content*/
.forrestSkySpace{
  background-color: #E5EDF2;
  height: 85em;
}
.forrestBlock{
  /* BACKGROUND IMAGE */
  background-image: url("../images/forrestLandscape.png");
  background-color: background-color: #E4E8EB;
  background-repeat:no-repeat;
  background-position: center ;
  /* POSITION */
  position: relative;
  border:0;
  margin: 0;
  padding: 0;
  /* Scale */
  height: 205em;
  /* Font */
}
.zero3Box{
  /* POSITION */
  position: absolute;
  position: absolute;
  top: 27%;
  left: 70%;
}
.zero3{
  /* FONT */
  color: black;
  font-size: 20em;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  letter-spacing: -10px;
}
.zero3Menu{
    z-index: 5;
  border-collapse: collapse;
  position: absolute;
  bottom: 68%;
  left: 80%;
  color: black;
  font-size: 0.67em;
}
.tableIcons{
  padding: 3% 1% 3% 0;
}
.menuWordPadding{
  /*NOT NEEDED*/
}
.zero3Menu td{
  white-space: nowrap;
  padding-bottom:  3% 0;
}
.borderLine {
  border-top: solid rgba(192,192,192,0.8) 0.8px;
  border-bottom: solid rgba(192,192,192,0.8) 1px;
  font-family: 'Lato', sans-serif;
}
/*IMPORTANT-THE margin:bottom spaces .blackSquare03 and
the .histerHoldingLeaves*/
.blackSquare03{
  float: clear;
  position: absolute;
  top: 20%;
  left: 5%;
  margin-bottom: 26%;
  border: solid 25px black;
  height: 20%;
  width: 50%;
  color: black;
}
.chevronIcon{
  padding: 0;
  margin: 0 1%;
}
.prevNext{
  padding: 5%;
  font-family: 'Abraham Lincoln';
  font-size: 3em;
}
.prev{
  display: inline-block;
  display: inline-block;
  margin-right: 5%;
}
/*MOVES SMALL BLUE BOX*/
.hipsterHoldingLeaves{
  /* BACKGROUND*/
  background-image: url("../images/hipsterHoldingLeaves.png");
  background-repeat: no-repeat;
  /* PICTURE POSITION */
  position: absolute;
  top: 22%;
  left: 10%;
  height: 15%;
  width: 60%;
}
.smallBlueBox{
  position: absolute;
  left: 60%;
  bottom: 10%;
  background-color: #694fca;
  width: 55%;
  height: 55%;
}
.whatWeDo{
  padding: 5% 0 0 5%;

  margin-bottom: 0;
  font-family: 'Abraham Lincoln';
  font-size: 3em;
  color: #ffa800;
}
.although{
  /*POSITION*/
  padding-left: 5%;
  width: 81%;
  line-height: 167%;
  /*FONT*/
  font-family: poppins;
  font-size: 0.8em;
  color: white;
}
.globalCompany{
  position: absolute;
  top: 64%;
  left: 15%;
  width: 144%;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  font-size: 6em;
}
.forwardThinking{
  width: 76%;
  height: 7%;
  margin: 0;
  position: absolute;
  right: 11%;
  bottom: 22.5%;
  text-align: center;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  font-size: 4em;
}
.verticalLine{
  position: absolute;
  left: 35%;
  bottom: 18%;
  width: 15%;
  height: 5%;
  border-right: solid 0.3em black;
}
.whatCustomersSay{
  position: absolute;
  bottom: 12%;
  left: 36%;
  z-index: 5;
  text-align: center;
  padding: 5% 0;
  font-size: 2em;
  font-weight: 100;
}
.forrestBackgroundColorApplied{
  background-color: #E4E8EB;
}
/*MOVES TESTIMONIALS*/
.testimonialContainer{
  position: absolute;
  top: 87%;
  margin-left: 20%;
  margin-bottom: 25%;
  height: 11.5%;
}
/*STYLING FOR ALL TESTIMONIAL BOXES*/
.testimonials{
  width: 30%;
  height: 130%;
  text-align: center;
  margin-right: 2%;
}
.customerPicture{
  padding: 10% 0 15% 1%;
}
.stars{
  padding-left: 31%;
  display: block;
}
.gregoryBradley{
  background-color: #ffffff;
  float: left;
}
.jonathanKraus{
  float: left;
  background-color: #694fca;
  box-shadow: 5px 10px rgba(0,0,0 0.1);
}
.carolineDeSmet{
  float: left;
  background-color: #ffffff;
}
.amarillo{
  clear: both;
  color: #ffa800;
}
.customerNameLocation{
  color: black;
  letter-spacing: 0.2em;
}
.spacerBlock{
  clear: both;
  position: absolute;
  bottom: 10%;
  background-color: #E3E7EA;
  height: 6em;
}
/*FOOTER*/
footer{
  clear: both;
  height: 8%;
  background-color: #212121;
}
  /* .footerHeader CONTAINS LOGO AND CONTACT INFO WITH BOTTOM WHITE BORDER */
.footerHeader{
  clear: both;
  border-bottom: solid rgba(192,192,192,0.1) 1px;
  height: 40%;
}
.callNow{
  display: inline-block;
  padding-top: 5%;
  color: #ffffff;
}
.fa-phone{
  /* NOT NEEDED YET */
}
.footerUnityStyle{
  display: inline;
  float: left;
  margin-left: 40%;
  margin-top: -4%;
  margin-bottom: 0;
}
.fa-envelope{
  display: inline;
  float: left;
  margin-left: 40%;
  color: white;
}
.eMail{
  clear: both;
  float: left;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #5f49b3;
}
input{
  background-color: black;
}