/* FONT */
@font-face {
    font-family: 'Abraham Lincoln';
    src: url('../fonts/abrahamlincoln-webfont.woff2') format('woff2'),
         url('../fonts/abrahamlincoln-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Black';
    src: url('fonts/GothamBlack.woff2') format('woff2'),
        url('fonts/GothamBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  /* POSITION CLASSES */
  .inlineBlockFloatLeft{
    display: inline-block;
    float:left;
  }
body{
  margin: 0;
  padding:0;
  max-width: 100%;
  font-size: 16px;

  font-family: 'Roboto', sans-serif;
  /* font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif; */
}
/* (1)FIRST SECTION */
/* RAINKISS BLOCK */
.rainKissBlock{
  background-image: url("../images/snow_bg.png");
  background-color: #161616;
  background-repeat:no-repeat;
  background-position: center top;
  border:0;
  margin: 0;
  height: 1696px;
  /* Scale */
  max-width: 100% ;
  margin: 0;
  border: 0;
  /* Font */
  font-family: 'Lato', sans-serif;
}
header{
  padding-left: 15%;
  max-width: 100%;
}
.unityLogo{
  /* POSITION */
  margin-left: 30%;
  padding: 1px 1px;
  border: white solid 0.5px;
  /* FONT */
  text-align: center;
  font-size: 2em;
  font-style: sans-serif;
  width: 6em;
  color: white;
}
.navLink{
  margin: 0px 2em;
  float: left;
  color: white;
  list-style: none;
}
.copyright{
  padding-right: 10%;
}
.phoneLine{
  clear: both;
  border-right: solid rgba(192,192,192,0.2) .09em;
  height: 15%;
  width: 5%;
  margin-left: 90%;
}
.phoneBall{
  background-color: #ffa800;
  /*POSITION*/
  margin-left: 93%;
  padding: 1%;
  /*SCALE*/
  width: 2%;
  border-radius: 50%;
}
.rotatedSocialMediaMenu{
  transform: rotate(-90deg);
  margin-top: 30%;
  margin-left: 48%;
  /* SCALE */
  width: 93%;/*WIDTH HAS TO BE THIS LARGE OR ROTATED NAV GETS SQUEEZED*/
}
.honorDetail{
  clear: both;
  margin-top: 30%;
  text-align: center;
  color:yellow;
  font-size: 3em;
  font-family: 'Abraham Lincoln';
  color: rgb(255, 168, 0);
}

.honorDetailDescription{
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Abraham Lincoln';
}
.rectIcon{
  display:block;
  margin: auto;
  padding-top: 10%;
}
.scroll{
  text-align: center;
  padding-top:0;
  margin-top:0;
  /* FONT */
  font-size: 1.5em;
  color: white;
}
.downArrow{
  width: 2%;
  display: block;
  margin: 5% auto;
}
/* WHITE RECTANGLE DIV  */
.whiteRectDiv{
  /* POSITION */
  position: relative;
  padding-top: 0%;
  padding-left: 25%;
  margin: auto;
  /* FONT */
  color: white;
}
.whiteRectangle{
  height: 680px;
  width: 680px;
}
.brushBox{
  position: absolute;
  z-index: 1;
  top: 78%;
  right: 10%;
}
.brushBoxShadow{
  position: absolute;
  z-index: 0;
  top: 64%;
  right: -2%;
}
/*(2) NEXT SECTION */
/* BLUE BOX SECTION */
.blueBlock{
  /* BACKGROUND IMAGE */
  background-image: url("../images/prototype_0001s_0006_Rectangle-2.png");
  background-color: #161616;
  background-repeat:no-repeat;
  background-position: center top;
  /* POSITION */
  clear: both;
  border:0;
  margin: 0;
  padding: 0;
  height: 1340px;
  /* Scale */
  max-width: 100% ;
  margin: 0;
  border: 0;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.zero1{
  /* POSITION */
  margin: 0;
  padding-top: 10%;
    padding-left: 15%;
  /* FONT */
  font-size: 15em;
  color: yellow;
  font-family: "Abraham Lincoln";
  color: rgb(255, 168, 0);
  letter-spacing: -9px;
  font-weight: 100;
}
.invitesContainer{
  /* POSITION */
  position: absolute;
  text-align: left;
  top: 270%;
  left: 28%;
  /* FONT STYLES */
  font-family: "Abraham Lincoln";
  font-weight: 100;
  color: white;
}
.invites{
  margin: 0;
  /* FONT  */
  font-size: 6em;
  font-weight: 100;
}
.invites h3{
  text-align: right;
}
.invent{
  margin-right: 5%;
  font-size: 1.5em;
  color: yellow;
}
.complexity{
  /* POSITION */
  width: 38%;
  margin: 0;
  padding-top: 15%;
  line-height: 2.5%;
  /* FONT */
  font-size: 3.5em;
  color: white;
}
.story2Tell{
  /* POSITION */
  margin-top: 20%;
  /* FONT */
  font-family: "Poppins";
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}
.cureContainer{
  clear: both;
  margin-top: 10%;
  margin-left: 15%;
}
.cureBox{
  width: 25%;
  margin-right: 5%;
  color: #ffffff;
}
.cureIcon{
  width: 21%;
}
.cureTitle{
  color: #ffa800;
}
.horizontalWhiteLine{
  border-bottom: solid #ffffff 1px;
  width: 21%;
}
.creativeDesigns{
  /* float:left; */
}
.oneHundredSupport{
  /* float:left; */
}
.yellowDash{
  border-bottom: yellow 0.8em solid;
  width: 5%;
  border-radius: 20%;
  position: relative;
  top: 20%;
  left: 45%;
}
.whiteDashMedium{
  border-bottom: white 2% solid;
  width: 3%
  
}
.whiteDashSmall{
  border-bottom: white 2% solid;
  width: 3%
}
/* (3)NEXT SECTION */
/*BUILDING LANDSCAPE BLOCK  */
.buildingLandscapeBlock{
  clear: both;
  /* BACKGROUND */
  background-image: url("../images/buildingLandscape.png");
  background-color: #c4c4c5;
  background-repeat:no-repeat;
  background-position: center ;
  /* POSITION */
  padding: 0;
  height: 1468px;
  /* Scale */
  max-width: 100% ;
  margin: 0;
  border: 0;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.weAreUnity{
  /* POSITION */
  position: absolute;
  z-index: 0;
  padding-top: 15%;
  margin: 0;
  /* SCALE */
  width: 100%;
  /* FONT */
  font-family: "Abraham Lincoln";
  color: rgba(0, 0, 0, 0.102);
  letter-spacing: -16px;
  font-size: 14em;
  word-spacing: -38px;
  font-weight: 100;
}
.weLoveClients{
  /* POSITION */
  position: absolute;
  z-index: 1;
  top: 515%;
  left: 25%;
  margin: 0;
  /* FONT */
  font-size: 3.5em;
  font-family: "AbrahamLincoln";
  color: rgb(0, 0, 0);
}
/* .pushDown  MOVES .takePride down w/out separating both h4*/
.pushDown{
  padding-top: 27%;
}
.takePride{
  /* POSITION */
  text-align: center;
  z-index: 1;
  top: 545%;
  margin-top: 0;
  line-height: 0;
  /* FONT */
  font-family: "Poppins";
  font-size: 1.5em;
  color: black;
}

/* PLAY BUTTON AND CONTAINING GREY CIRCLES */
.transparentCircle{
  position: relative;
  height: 15%;
  width: 15%;
  background-color: transparent;
  border: black solid 1px;
  border-radius: 50%;
  margin: auto;
  margin-top: -1%;
  z-index: 9;
}
.outerCircle{
  position: absolute;
  top: -4%;
  left: 17%;
  height: 65%;
  width: 65%;
  background-color: #d0d0d1;
  border: black  solid 1px;
  border-radius: 50%;
  margin-top: 19%;
}
.innerCircle{
  position: absolute;
  top: 25%;
  right: 25%;
  height: 45%;
  width: 45%;
  background-color: #d0d0d1;
  border: black solid 1px;
  border-radius: 50%;
}
.fa-play{
  position: absolute;
  top: 40%;
  right: 38%;
  color:black;
}
.blackRectangle02{
  border: solid 25px black;
  margin-top: 33%;
  margin-left: 24%;
  height: 700px;
  width: 700px;
  color: black;
}
.blackBoxHonorContainer{
  margin-top: 0;
  font-family: "Abraham Lincoln";
}
.blackBoxHonorDetails{
  letter-spacing: -1px;
  text-align: right;
  font-size: 6em;
  margin: 0;
  margin-right: 5%;
}
.globalService{
  font-size: 1.5em;
  letter-spacing: -1px;
  margin: 0;
  margin-left: 50%;
}
.pencilBox{
  position: relative;
  bottom: -72%;
  left: -33%;
}
.twoPencilsCropped{
  position: relative;
  top: 75%;
  right: 25%;
}
.zero2Box{
  /* POSITION */
  position: relative;
  bottom: 66%;
  left: 105%;
}
.zero2{
  /* FONT */
  color: black;
  font-size: 20em;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  letter-spacing: -10px;
}
/* (3)FORREST BLOCK */
.zero3Box{
  /* POSITION */
  position: relative;
  bottom: 78%;
  left: 107%;
}
.zero3{
  padding-top: 1%;
  padding-left: 29%;
  /* FONT */
  color: black;
  font-size: 20em;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  letter-spacing: -10px;
}
.zero3Menu{
  border-collapse: collapse;
  position: relative;
  bottom: 58%;
  left: 160%;
  color:black;
  font-size: 1em;
}
.tableIcons{
  padding:0 6%;
}
.zero3Menu td{
  white-space: nowrap;
  padding-right: 11%;
}
.borderLine {
    border-top: solid rgba(192,192,192,0.8) 0.8px;
    border-bottom: solid rgba(192,192,192,0.8) 1px;
}
/* (4) NEXT SECTION */
/* FORREST BLOCK */
.forrestBlock{

  /* BACKGROUND IMAGE */
  background-image: url("../images/forrestLandscape.png");
  background-color: #ffffff;
  background-repeat:no-repeat;
  background-position: center ;
  height: 3649px;
  /* POSITION */
  border:0;
  margin: 0;
  padding: 0;
  /* Scale */
  max-width: 100% ;
  margin: 0;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.blackRectangle03{
  border: solid 25px black;
  margin-top: 33%;
  margin-left: 5%;
  height: 700px;
  width: 700px;
  color: black;
}
.chevronIcon{
  padding: 0;
  margin: 0 1%;
}
.prevNext{
  padding: 5%;
  font-family: 'Abraham Lincoln';
  font-size: 3em;
}
.prev{
  display: inline-block;
  display: inline-block;
  margin-right: 5%;
}

.hipsterHoldingLeaves{
  /* PICTURE POSITION */
  background-image: url("../images/hipsterHoldingLeaves.png");
  position: relative;
  left: 5%;
  margin-top: 5%;
  /* PICTURE SIZE */
  height: 572px;
  width: 890px;
}
.smallBlueBox{
  position: relative;
  left: 57%;
  top: 3%;
  background-color: #694fca;
  width: 550px;
  height: 280px;
}
.whatWeDoBox{
  padding: 5% 0 0 5%;
}
.whatWeDo{
  margin-bottom: 0;
  font-family: 'Abraham Lincoln';
  font-size: 3em;
  color: #ffa800;
}
.althoughBox{
  padding-left: 5%;
  font-family: poppins;
  color: white;
  width: 81%;
  line-height: 167%;
}
.globalCompany{
  padding-top: 99%;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  font-size: 6em;
}
.forwardThinking{
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  font-size: 1.5em;
}
.verticalLine{
  border-left: solid 2px black;
  padding: 5%;
  margin-top: 32%;
  margin-left: 50%;
}
.whatCustomersSay{
  text-align: center;
  margin: 5% 0;
}
.testimonialContainer{
  margin-left: 20%;
}
.testimonials{
  width: 17em;
  height: 27em;
  /* margin-left: 15%; */
  text-align: center;
  margin-right: 2%;
}
.customerPicture{
  padding: 10% 0 15% 1%;
}
.stars{
  padding-left: 31%;
  display: block;
}
.gregoryBradley{
  background-color: #ffffff;
  float: left;
}
.jonathanKraus{
  background-color: #694fca;
  float: left;
}
.carolineDeSmet{
  background-color: #ffffff;
  float: left;
}
.amarillo{
  clear: both;
  color: #ffa800;
}
.customerNameLocation{
  color: black;
  letter-spacing: 0.2em;
}
footer{
  clear: both;
  height: 8%;
  background-color: #212121;
}
/* FOOTER HEADER CONTAINS LOGO AND CONTACT INFO WITH BOTTOM WHITE BORDER */
.footerHeader{
  border-bottom: solid rgba(192,192,192,0.3) 1px;
  height: 40%;
}
.callNow{
  padding-top: 5%;
  color: #ffffff;
}
.fa-phone{
  /* NOT NEEDED YET */
}
.footerUnityStyle{
  margin-top: -4%;
  margin-bottom: 0;
}
.fa-envelope{
  color: white;
}
.eMail{
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #5f49b3;
}
