body{
  margin: 0;
  padding:0;
  max-width: 100%;
  font-size: 16px;

  font-family: 'Roboto', sans-serif;
  /* font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif; */
}
/* POSITION CLASSES */
.inlineBlockFloatLeft{
  display: inline-block;
  float:left;
}
/* (1)FIRST SECTION */
/* RAINKISS BLOCK */
.rainKissBlock{
  background-image: url("../images/snow_bg.png");
  background-color: #161616;
  background-repeat:no-repeat;
  background-position: center top;
  border:0;
  margin: 0;
  height: 1696px;
  /* Scale */
  max-width: 100% ;
  margin: 0;
  border: 0;
  /* Font */
  font-family: 'Lato', sans-serif;
}
header{
  padding-top: 10%;
  max-width: 100%;
}
.unityLogo{
  /* POSITION */
  margin: auto;
  padding: 1px 1px;
  border: white solid 0.5px;
  /* FONT */
  text-align: center;
  font-size: 2em;
  font-style: sans-serif;
  width: 6em;
  color: white;

}
.navLink{
  margin: 0px 2em;
  float: left;
  color: white;
  list-style: none;
}
.honorDetail{
  clear: both;
  margin-top: 30%;
  text-align: center;
  color:yellow;
  font-size: 3em;
  font-family: 'Poppins', sans-serif;
}
.honorDetailDescription{
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
}
.rectIcon{
  display:block;
  margin: auto;
  padding-top: 27%;
}
.scroll{
  text-align: center;
  padding-top:0;
  margin-top:0;
  /* FONT */
  font-size: 1.5em;
  color: white;
}
/* WHITE RECTANGLE DIV  */
.whiteRectDiv{
  /* POSITION */
  position: relative;
  padding-top: 16%;
  padding-left: 25%;
  margin: auto;
  /* FONT */
  color: white;
}
.whiteRectangle{
  height: 680px;
  width: 680px;
}
.brushBox{
  position: absolute;
  z-index: 1;
  top: 78%;
  right: 10%;
}
.brushBoxShadow{
  position: absolute;
  z-index: 0;
  top: 64%;
  right: -2%;
}
/*(2) NEXT SECTION */
/* BLUE BOX SECTION */
.blueBlock{
  /* BACKGROUND IMAGE */
  background-image: url("../images/prototype_0001s_0006_Rectangle-2.png");
  background-color: #161616;
  background-repeat:no-repeat;
  background-position: center top;
  /* POSITION */
  clear: both;
  border:0;
  margin: 0;
  padding: 0;
  height: 1340px;
  /* Scale */
  max-width: 100% ;
  margin: 0;
  border: 0;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.zero1{
  /* POSITION */
  margin: 0;
  padding-top: 2%;
  padding-left: 8%;
  /* FONT */
  font-size: 10em;
  color: yellow;
}
.invites{
  /* POSITION */
  position: absolute;
  top: 291%;
  margin-left: 28%;
  margin-bottom: 3%;
  line-height: 0;
  /* FONT STYLES */
  font-size: 3.5em;
  color: white;
}
  .invent{
    margin: 10% 0 0 28%;
    font-size: 1.2em;
    color: yellow;
  }
  .complexity{
    /* POSITION */
    width: 38%;
    margin: 0;
    padding-top: 15%;
    line-height: 2.5%;
    /* FONT */
    font-size: 3.5em;
    color: white;
  }
  .story2Tell{
    /* POSITION */
    margin-top: 25%;
    /* SIZE */
    width: 40%;
    /* FONT */
    font-size: 1em;
    color: white;
  }
  .curbaturContainer{
    clear: both;
    margin-left: 15%;
  }
  .curibaturBox{
    width: 20%;
  }
  .Title{
    clear: both;
    color: #ffa800;
  }
  .shareIcon{
    width: 4%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  .creativeDesigns{
    /* float:left; */
  }
  .oneHundredSupport{
    /* float:left; */
  }
  /* (3)NEXT SECTION */
  /*BUILDING LANDSCAPE BLOCK  */
.buildingLandscapeBlock{
  background-image: url("../images/buildingLandscape.png");
  background-color: #CACACA;
  background-repeat:no-repeat;
  background-position: center ;
  border:0;
  margin: 0;
  padding: 0;
  height: 1468px;
  /* Scale */
  max-width: 100% ;
  margin: 0;
  border: 0;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.unity{
  letter-spacing: -6px;
  padding-top: 15%;
  font-size: 15em;
  color: white;
  position: absolute;
  z-index: 0;
  margin: 0;
}
.loveClients{
  position: absolute;
  z-index: 1;
  top: 527%;
  font-size: 5.5em;
  color: black;
  margin: 0;
}
/* .pushDown  MOVES .takePride down w/out separating both h4*/
.pushDown{
  padding-top: 33%;
}
.takePride{
  z-index: 1;
  top: 545%;
  font-size: 1.5em;
  color: black;
  margin-top: 0; /*this line needed to remove white space between blue & landscapeBlock*/
  margin-bottom: 3%;
  line-height: 0;
}
/* PLAY BUTTON AND CONTAINING GREY CIRCLES */
.transparentCircle{
  position: relative;
  height: 10%;
  width: 10%;
  background-color: transparent;
  border: black solid 1px;
  border-radius: 50%;
  margin: auto;
  margin-top: 12%;
  z-index: 9;
}
.outerCircle{
  position: absolute;
  top: -11%;
  left: 9%;
  height: 80%;
  width: 80%;
  background-color: #d0d0d1;
  border: black  solid 1px;
  border-radius: 50%;
  margin-top: 25%;
}
.innerCircle{
  position: absolute;
  top: 16%;
  right: 17%;
  height: 65%;
  width: 65%;
  background-color: #d0d0d1;
  border: black solid 1px;
  border-radius: 50%;
}
.fa-play{
  position: absolute;
  top: 40%;
  right: 38%;
  color:black;
}
.blackRectangle02{
  margin-top: 23%;
  margin-left: 24%;
  color:black;
}
.pencilBox{

}
.blackBoxHonorDetails{
  font-size: 8em;
  margin: 0;
}
.globalService{
  font-size: 3em;
}
.zero3{
  font-size: 20em;
  color: black;
  margin: 0;
  padding-top: 13%;
  padding-left: 8%;
}
.zero3Menu{
  color:black;
  font-size: 1em;
  padding-left: 142%;
}
.tableIcons{
  padding:0 6%;
}
.zero3Menu td{
  white-space: nowrap;
  padding-right: 11%;
}
/* (4) NEXT SECTION */
/* FORREST BLOCK */
.forrestBlock{

  /* BACKGROUND IMAGE */
  background-image: url("../images/forrestLandscape.png");
  background-color: #ffffff;
  background-repeat:no-repeat;
  background-position: center ;
  height: 3649px;
  /* POSITION */
  border:0;
  margin: 0;
  padding: 0;
  /* Scale */
  max-width: 100% ;
  margin: 0;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.blackRectangle03{
  position: relative;
  top: 10%;
  width: 700px;
}
.hipsterHoldingLeaves{
  position: absolute;
  top: 32%;
  left: 80%;
  bottom: 7%;
  left: 7%;
  height: 572px;
}
.smallBlueBox{
  position: absolute;
  background-color: #694fca;
  width: 600px;
  height: 280px;
}
.globalCompany{
  padding-top: 120%;
}
.forwardThinking{

}
.verticalLine{
  border-left: solid 2px black;
  padding: 5%;
  margin-top: 32%;
  margin-left: 50%;
}
.whatCustomersSay{
  text-align: center;
  margin: 5% 0;
}
.testimonialContainer{
  margin-left: 15%;
}
.testimonials{
  width: 14em;
  height: 27em;
  /* margin-left: 15%; */
  text-align: center;
}
.customerPicture{
  padding-left: 1%;
}
.stars{
  padding-left: 31%;
  display: block;
}
.gregoryBradley{
  background-color: #ffffff;
  float: left;
}
.jonathanKraus{
  background-color: #694fca;
  float: left;
}
.carolineDeSmet{
  background-color: #ffffff;
  float: left;
}
footer{
  clear: both;
  height: 8%;
  background-color: #212121;
}
/* FOOTER HEADER CONTAINS LOGO AND CONTACT INFO WITH BOTTOM WHITE BORDER */
.footerHeader{
  border-bottom: solid rgba(192,192,192,0.3) 1px;
}
.callNow{
  padding-top: 5%;
  color: #ffffff;
}
.fa-phone{
  /* NOT NEEDED YET */
}
.footerUnityStyle{
  margin-top 1%;
  float: left;
}
.eMail{
  padding-top: 5%;
  color: #ffffff;
}
