/* FONT */
@font-face {
    font-family: 'Abraham Lincoln';
    src: url('fonts/abrahamlincoln-webfont.woff2') format('woff2'),
         url('fonts/abrahamlincoln-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Black';
    src: url('fonts/GothamBlack.woff2') format('woff2'),
        url('fonts/GothamBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  /* POSITION CLASSES */
  .inlineBlockFloatLeft{
    display: inline-block;
    float:left;
  }
body{
  margin: 0;
  padding:0;
  max-width: 100%;
  font-size: 16px;

  font-family: 'Roboto', sans-serif;
  /* font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif; */
}
/* (1)FIRST SECTION */
/* RAINKISS BLOCK */
.rainKissBlock{
  background-image: url("../images/snow_bg.png");
  background-color: #161616;
  background-repeat:no-repeat;
  background-position: center top;
  border:0;
  margin: 0;
  height: 1696px;
  /* Scale */
  max-width: 100% ;
  margin: 0;
  border: 0;
  /* Font */
  font-family: 'Lato', sans-serif;
}
header{
  padding-left: 15%;
  max-width: 100%;
}
.unityLogo{
  /* POSITION */
  margin-left: 30%;
  padding: 1px 1px;
  border: white solid 0.5px;
  /* FONT */
  text-align: center;
  font-size: 2em;
  font-style: sans-serif;
  width: 6em;
  color: white;
}
.navLink{
  margin: 0px 2em;
  float: left;
  color: white;
  list-style: none;
}
.phoneLine{
  clear: both;
  border-right: solid rgba(192,192,192,0.2) .09em;
  height: 15%;
  width: 5%;
  margin-left: 90%;
}
.phoneBall{
  background-color: #ffa800;
  /*POSITION*/
  margin-left: 93%;
  padding: 1%;
  /*SCALE*/
  width: 2%;
  border-radius: 50%;
}
.rotatedSocialMediaMenu{
  transform: rotate(-90deg);
  margin-top: 30%;
  margin-left: 48%;
  /* SCALE */
  width: 93%;/*WIDTH HAS TO BE THIS LARGE OR ROTATED NAV GETS SQUEEZED*/
}
.honorDetail{
  clear: both;
  margin-top: 30%;
  text-align: center;
  color:yellow;
  font-size: 3em;
  font-family: 'Abraham Lincoln';
  color: rgb(255, 168, 0);
}

.honorDetailDescription{
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Abraham Lincoln';
}
.rectIcon{
  display:block;
  margin: auto;
  padding-top: 3%;
}
.scroll{
  text-align: center;
  padding-top:0;
  margin-top:0;
  /* FONT */
  font-size: 1.5em;
  color: white;
}
.downArrow{
  width: 2%;
  display: block;
  margin: 5% auto;
}
/* WHITE RECTANGLE DIV  */
.whiteRectDiv{
  /* POSITION */
  position: relative;
  padding-top: 0%;
  padding-left: 25%;
  margin: auto;
  /* FONT */
  color: white;
}
.whiteRectangle{
  height: 680px;
  width: 680px;
}
.brushBox{
  position: absolute;
  z-index: 1;
  top: 78%;
  right: 10%;
}
.brushBoxShadow{
  position: absolute;
  z-index: 0;
  top: 64%;
  right: -2%;
}
/*(2) NEXT SECTION */
/* BLUE BOX SECTION */
.blueBlock{
  /* BACKGROUND IMAGE */
  background-image: url("../images/prototype_0001s_0006_Rectangle-2.png");
  background-color: #161616;
  background-repeat:no-repeat;
  background-position: center top;
  /* POSITION */
  clear: both;
  border:0;
  margin: 0;
  padding: 0;
  height: 1340px;
  /* Scale */
  max-width: 100% ;
  margin: 0;
  border: 0;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.zero1{
  /* POSITION */
  margin: 0;
  padding-top: 2%;
  padding-left: 8%;
  /* FONT */
  font-size: 10em;
  color: yellow;
}
.invites{
  /* POSITION */
  position: absolute;
  top: 268%;
  margin-left: 28%;
  margin-bottom: 3%;
  line-height: 0;
  /* FONT STYLES */
  font-size: 3.5em;
  color: white;
}
  .invent{
    margin: 1% 0 0 28%;
    font-size: 1.2em;
    color: yellow;
  }
  .complexity{
    /* POSITION */
    width: 38%;
    margin: 0;
    padding-top: 15%;
    line-height: 2.5%;
    /* FONT */
    font-size: 3.5em;
    color: white;
  }
  .story2Tell{
    /* POSITION */
    margin-top: 25%;
    /* SIZE */

    /* FONT */
    font-size: 1em;
    color: white;
  }
  .curabiturContainer{
    clear: both;
    margin-top: 10%;
    margin-left: 15%;
  }
  .curabiturBox{
    width: 25%;
    margin-right: 5%;
    color: #ffffff;
  }
  .icon{
    width: 21%;
  }
  .Title{
    color: #ffa800;
  }
  .horizontalWhiteLine{
    border-bottom: solid #ffffff 1px;
    width: 21%;
  }
  .creativeDesigns{
    /* float:left; */
  }
  .oneHundredSupport{
    /* float:left; */
  }
  /* (3)NEXT SECTION */
  /*BUILDING LANDSCAPE BLOCK  */
.buildingLandscapeBlock{
  clear: both;
  /* BACKGROUND */
  background-image: url("../images/buildingLandscape.png");
  background-color: #c4c4c5;
  background-repeat:no-repeat;
  background-position: center ;
  /* POSITION */
  padding: 0;
  height: 1468px;
  /* Scale */
  max-width: 100% ;
  margin: 0;
  border: 0;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.weAreUnity{
  /* POSITION */
  position: absolute;
  z-index: 0;
  padding-top: 15%;
  margin: 0;
  /* SCALE */
  width: 100%;
  /* FONT */
  font-family: "AbrahamLincoln";
  color: rgba(0, 0, 0, 0.102);
  letter-spacing: -16px;
  font-size: 14em;
  word-spacing: -38px;
  font-weight: 100;
}
.weLoveClients{
  /* POSITION */
  position: absolute;
  z-index: 1;
  top: 515%;
  left: 25%;
  margin: 0;
  /* FONT */
  font-size: 3.5em;
  font-family: "AbrahamLincoln";
  color: rgb(0, 0, 0);
}
/* .pushDown  MOVES .takePride down w/out separating both h4*/
.pushDown{
  padding-top: 27%;
}
.takePride{
  /* POSITION */
  text-align: center;
  z-index: 1;
  top: 545%;
  margin-top: 0; /*this line needed to remove white space between blue & landscapeBlock*/
  margin-bottom: 3%;
  line-height: 0;
  /* FONT */
  font-family: "Poppins";
  font-size: 1.5em;
  color: black;

}

/* PLAY BUTTON AND CONTAINING GREY CIRCLES */
.transparentCircle{
  position: relative;
  height: 15%;
  width: 15%;
  background-color: transparent;
  border: black solid 1px;
  border-radius: 50%;
  margin: auto;
  margin-top: -3%;
  z-index: 9;
}
.outerCircle{
  position: absolute;
  top: -4%;
  left: 17%;
  height: 65%;
  width: 65%;
  background-color: #d0d0d1;
  border: black  solid 1px;
  border-radius: 50%;
  margin-top: 19%;
}
.innerCircle{
  position: absolute;
  top: 25%;
  right: 25%;
  height: 45%;
  width: 45%;
  background-color: #d0d0d1;
  border: black solid 1px;
  border-radius: 50%;
}
.fa-play{
  position: absolute;
  top: 40%;
  right: 38%;
  color:black;
}
.blackRectangleContainer{
    position: relative;
}
.blackRectangle02{
  margin-top: 30%;
  margin-left: 24%;
  color:black;
}
.pencilBox{

}
/* (3)FORREST BLOCK */
.blackBoxHonorDetails{
  font-size: 8em;
  margin: 0;
}
.globalService{
  font-size: 3em;
  margin: 0 0 0 25%;
}
.zero3{
  font-size: 20em;
  color: black;
  margin: 0;
  padding-top: 13%;
  padding-left: 8%;
}
.zero3Menu{
  color:black;
  font-size: 1em;
  padding-left: 142%;
}
.tableIcons{
  padding:0 6%;
}
.zero3Menu td{
  white-space: nowrap;
  padding-right: 11%;
}
.borderLine{
  border-top: solid red 1px;
  border-bottom: solid blue 1px;
}
/* (4) NEXT SECTION */
/* FORREST BLOCK */
.forrestBlock{

  /* BACKGROUND IMAGE */
  background-image: url("../images/forrestLandscape.png");
  background-color: #ffffff;
  background-repeat:no-repeat;
  background-position: center ;
  height: 3649px;
  /* POSITION */
  border:0;
  margin: 0;
  padding: 0;
  /* Scale */
  max-width: 100% ;
  margin: 0;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.blackRectangle03{
  position: relative;
  top: 10%;
  width: 700px;
}
.hipsterHoldingLeaves{
  position: absolute;
  top: 32%;
  left: 80%;
  bottom: 7%;
  left: 7%;
  height: 572px;
}
.smallBlueBox{
  position: absolute;
  background-color: #694fca;
  width: 550px;
  height: 280px;
}
.globalCompany{
  padding-top: 120%;
}
.forwardThinking{

}
.verticalLine{
  border-left: solid 2px black;
  padding: 5%;
  margin-top: 32%;
  margin-left: 50%;
}
.whatCustomersSay{
  text-align: center;
  margin: 5% 0;
}
.testimonialContainer{
  margin-left: 15%;
}
.testimonials{
  width: 14em;
  height: 27em;
  /* margin-left: 15%; */
  text-align: center;
}
.customerPicture{
  padding-left: 1%;
}
.stars{
  padding-left: 31%;
  display: block;
}
.gregoryBradley{
  background-color: #ffffff;
  float: left;
}
.jonathanKraus{
  background-color: #694fca;
  float: left;
}
.carolineDeSmet{
  background-color: #ffffff;
  float: left;
}
footer{
  clear: both;
  height: 8%;
  background-color: #212121;
}
/* FOOTER HEADER CONTAINS LOGO AND CONTACT INFO WITH BOTTOM WHITE BORDER */
.footerHeader{
  border-bottom: solid rgba(192,192,192,0.3) 1px;
  height: 40%;
}
.callNow{
  padding-top: 5%;
  color: #ffffff;
}
.fa-phone{
  /* NOT NEEDED YET */
}
.footerUnityStyle{
  margin-top: -4%;
  margin-bottom: 0;
}
.fa-envelope{
  color: white;
}
.eMail{
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #5f49b3;
}
