
/* FONT */
@font-face {
    font-family: 'Abraham Lincoln';
    src: url('../fonts/abrahamlincoln-webfont.woff2') format('woff2'),
         url('../fonts/abrahamlincoln-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Black';
    src: url('fonts/GothamBlack.woff2') format('woff2'),
        url('fonts/GothamBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  /* POSITION CLASSES */
  .inlineBlockFloatLeft{
    display: inline-block;
    float:left;
  }
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
.mainContainer{
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0.2%;
}
body{
  font-size: 16px; /*16px=1em*/
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif; */
}
header{
  position: relative;
  padding-top: 5%;
  padding-left: 5%;
  background-color: rgba(0,0,0, 0.01);
  height: 25%;

}
.noWidth{
  height: 0;
  width: 0;
}
/* (1)FIRST SECTION */
/* RAINKISS BLOCK */
.rainKissBlock{
  display: inline-block;
  position: relative;
  
  background-image: url("../images/snow_bg.png");
  background-color: #161616;
  border:0;
  margin: 0;
  padding: 0;
  /*FULL HEIGHT and WIDTH NEEDED*/
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  /* Font */
  font-family: 'Lato', sans-serif;
}
.unityLogo{
  /* POSITION */
  margin: auto;
  padding: 1px 1px;
  border: white solid 0.005em;
  /* FONT */
  text-align: center;
  font-size: 2em;
  font-style: sans-serif;
  width: 6em;
  color: white;
}
.topMenu{
  padding-left: 20%;
}
li{
  margin: 0px 2em;
  display: inline;
  color: white;
  list-style: none;
}
.copyright{
  padding-right: 10%;
}
.phoneLine{
  clear: both;
  position: absolute;
  top: 0;
  left: 96%;
  border-right: solid rgba(192,192,192,0.2) .09em;
  height: 89%;
  width: 1%;
}
.phoneBall{
  background-color: #ffa800;
  /*POSITION*/
  margin-left: 95%;
  padding: 1%;
  /*SCALE*/
  width: 2%;
  border-radius: 50%;
}
.rotatedSocialMediaMenu{
  transform: rotate(-90deg);
  margin-top: 30%;
  margin-left: 50%;
  /* SCALE */
  width: 93%;/*WIDTH HAS TO BE THIS LARGE OR ROTATED NAV GETS SQUEEZED*/
  font-size: 1em;
}
.honorContainer{
  height: 25%;
  width: 100%;
}
.honorDetail{
  clear: both;
  padding: 0;
  position: absolute;
  top: 35%;
  left: 31%;
  margin-top: 0%;
  margin-bottom: 0;
  text-align: center;
  font-size: 6em;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  color: rgb(255, 168, 0);
}

.honorDetailDescription{
  margin: 0;
  color: white;
  text-align: center;
  font-size: 3em;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
}
.rectIcon{
  display:block;
  margin: auto;
  padding-top: 10%;
}
.scroll{
  text-align: center;
  padding-top:0;
  margin-top:0;
  /* FONT */
  font-size: 1.5em;
  color: white;
}
.downArrow{
  width: 2%;
  display: block;
  margin: 5% auto;
  padding-bottom: 30%;
}
/* WHITE RECTANGLE*/
.whiteRectangle{
  position: absolute;
  bottom: -19%;
  left: 23%;
  border: solid 25px white;
  height: 38%;
  width: 50%;
  color: white;
}
.brushBox{
  position: absolute;
  z-index: 1;
  top: 103%;
  right: -3%;
  height: 26%;
}
/*(2) NEXT SECTION */
/* BLUE BOX SECTION */
/********PLEASE READ MOST OF THE BLUE BACKGROUND IS IN .story2Tell**************/
.blueBlock{
  background-color: #694fca;
  position: relative;
  clear: both;
  z-index: -1;
  border:0;
  margin: 0;
  padding: 0;
  height: 80em;
  font-family: 'Lato', sans-serif;
}
.zero1{
  width: 15%;
  height: 1em;

  margin-right: 1%;
  margin-left: 8%;
  margin: 0;
  padding-left: 8%;
  padding-right: 1%;

  font-size: 22em;
  font-family: "Abraham Lincoln";
  color: rgb(255, 168, 0);
  letter-spacing: -9px;
  font-weight: 100;
}
.invitesContainer{

  white-space: nowrap;
  width: 72%;
  height: 31%;
  position: relative;
  top: 57%;
  left: 7%;

  font-family: "Abraham Lincoln";
  font-weight: 100;
  color: white;
}
.invites{
  margin: 0;
  font-size: 6em;
  font-weight: 100;
  line-height: 85%;
}
.invites h3 {
  text-align: right;
}
.invent{
  margin:0;
  font-size: 2em;
  color: white;
}
.complexity{
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 0;
    margin-left: 15%;

    width: 18%;
    font-family: "Abraham Lincoln";
    font-weight: 100;
    font-size: 6em;
    color: white;
}
.story2Tell{
  display: inline-block;
  width: 38%;
  line-height: 2;
  background-color: #694fca;
  
  padding-left: 1%;

  font-family: "Poppins";
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}
.marginLeft{
  margin-left: 20%;
}
.cureBox{
  display: inline-block;
  width: 20%;
  background-color: #694fca;
  color: #ffffff;
}
.cureIcon{
  width: 15%;
}
.cureTitle{
  color: #ffa800;
}
.horizontalWhiteLine{
  clear: both;
  border-bottom: solid #ffffff 1px;
  width: 15%;
}
.yellowDash{
  margin-left: 42.5%;
  margin-right: 1%;
  margin-top: 5%;
  border: yellow 0.2em solid;
  width: 1%;
  border-radius: 20%;
}
.whiteDashSmall{
  /*display: inline-block;*/
  border: white 0.2em solid;
  width: 0.5%;
  margin-top: 5%;
  margin-right: 1%;
  border-radius: 20%;
}
/* (3)NEXT SECTION */
/*BUILDING LANDSCAPE BLOCK  */
.buildingLandscapeBlock{

  background-image: url("../images/buildingLandscape.png");
  background-color: #c4c4c5;
  background-repeat:no-repeat;
  background-position: center ;

  position: relative;
  padding-top: 5%;
  margin: 0;
  border: 0;

  height: 87em;

  font-family: 'Lato', sans-serif;
}
.unityBlock{
  position: relative;
  width: 100%;
  height: 76%;
}
.weAreUnity{
  text-align: center;
  z-index: 0;
  margin: 0;
  font-family: "Abraham Lincoln";
  color: rgba(0, 0, 0, 0.102);
  font-size: 20em;
  word-spacing: 0.01em;
  font-weight: 100;
}
.weLoveClients{
  position: absolute;
  z-index: 1;
  bottom: 80.3%;
  left: 37%;
  margin: 0;
  font-size: 5em;
  font-family: "Abraham Lincoln";
  font-weight: 100;
  color: rgb(0, 0, 0);
}
.takePride{
  width: 65%;
  position: absolute;
  top: 19%;
  left: 23%;
  text-align: center;
  z-index: 1;
  margin-top: 0;
  font-family: "Poppins";
  font-size: 1.5em;
  color: black;
}

/* PLAY BUTTON AND CONTAINING GREY CIRCLES */
/*.circleContainer{
      position: relative;
    height: 100%;
    width: 100%;
    top: -30.5%;
}*/
.transparentCircle{
  position: absolute;
  bottom: 60.4%;
  left: 41.2%;
  height: 15%;
  width: 15%;
  background-color: transparent;
  border: black solid 1px;
  border-radius: 50%;
  z-index: 9;
}
.outerCircle{
  position: absolute;
  top: 2%;
  left: 23%;
  height: 55%;
  width: 55%;
  background-color: #d0d0d1;
  border: black  solid 1px;
  border-radius: 50%;
  margin-top: 19%;
}
.innerCircle{
  position: absolute;
  top: 25%;
  right: 25%;
  height: 45%;
  width: 45%;
  background-color: #d0d0d1;
  border: black solid 1px;
  border-radius: 50%;
}
.fa-play{
  position: absolute;
  top: 40%;
  right: 38%;
  color:black;
}
/*IMPORTANT-THE margin:bottom spaces .blackSquare03 and
the .histerHoldingLeaves*/
.blackSquare02{
  position: absolute;
  z-index: 5;
  top: 75%;
  right: 25%;
  height: 68em;
  padding: 0;
  border: solid 25px black;
  height: 45%;
  width: 45%;
  color: black;
}
.blackBoxHonorDetails{
  position: absolute;
  top: 55%;
  width: 55%;
  padding-left: 40%;
  letter-spacing: -1px;
  line-height: 76px;
  text-align: right;
  font-size: 6em;
  font-family: "Abraham Lincoln";
}
.globalService{
  position: absolute;
  top: 91%;
  right: 8%;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: -1px;
  margin: 0;
}
.pencilBox{
  position: absolute;
  bottom: -8%;
  left: -30%;
}
.twoPencilsCropped{
  position: absolute;
  top: 107%;
  right: 65%;
  z-index: 5;
}
.zero2Box{
  /* POSITION */
  position: relative;
  top: 12%;
  left: 105%;
  /*SCALE*/
  height: 49%;
  width: 44%;
}
.zero2{
  /* FONT */
  color: black;
  font-size: 22em;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  letter-spacing: -10px;
}
/* (4)FORREST BLOCK */
/* NEXT SECTION */
/* FORREST BLOCK */
/*.forrestSkySpace to create Space for content*/
.forrestSkySpace{
  background-color: #E5EDF2;
  height: 85em;
}
.forrestBlock{
  /* BACKGROUND IMAGE */
  background-image: url("../images/forrestLandscape.png");
  background-color: background-color: #E4E8EB;
  background-repeat:no-repeat;
  background-position: center ;
  /* POSITION */
  position: relative;
  border:0;
  margin: 0;
  padding: 0;
  /* Scale */
  height: 205em;
  /* Font */
}
.zero3Box{
  /* POSITION */
  position: absolute;
  bottom: 55.5%;
  right: -15%;
  /*SCALE*/
  height: 18%;
  width: 46%;
}
.zero3{
  /* FONT */
  color: black;
  font-size: 20em;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  letter-spacing: -10px;
}
.zero3Menu{
    z-index: 5;
  border-collapse: collapse;
  position: absolute;
  bottom: 68%;
  left: 80%;
  color: black;
  font-size: 0.67em;
}
.tableIcons{
  padding: 3% 1% 3% 0;
}
.zero3Menu td{
  white-space: nowrap;
  padding-bottom:  3% 0;
}
.borderLine {
  border-top: solid rgba(192,192,192,0.8) 0.8px;
  border-bottom: solid rgba(192,192,192,0.8) 1px;
  font-family: 'Lato', sans-serif;
}
/*IMPORTANT-THE margin:bottom spaces .blackSquare03 and
the .histerHoldingLeaves*/
.blackSquare03{
  position: absolute;
  bottom: 61%;
  left: 5%;
  border: solid 25px black;
  height: 18%;
  width: 50%;
  color: black;
}
.chevronIcon{
  padding: 0;
  margin: 0 1%;
}
.prevNext{
  padding: 5%;
  font-family: 'Abraham Lincoln';
  font-size: 3em;
}
.prev{
  display: inline-block;
  display: inline-block;
  margin-right: 5%;
}
/*MOVES SMALL BLUE BOX*/
.hipsterHoldingLeaves{
  /* BACKGROUND*/
  background-image: url("../images/hipsterHoldingLeaves.png");
  background-repeat: no-repeat;
  /* PICTURE POSITION */
  position: absolute;
  top: 22%;
  left: 10%;
  height: 15%;
  width: 60%;
  box-shadow: 0.5em 0.5em 0.8em; /*RH*/
}
.smallBlueBox{
  position: absolute;
  left: 60%;
  bottom: 10%;
  background-color: #694fca;
  width: 55%;
  height: 55%;
}
.whatWeDo{
  padding: 5% 0 0 5%;

  margin-bottom: 0;
  font-family: 'Abraham Lincoln';
  font-size: 3em;
  color: #ffa800;
}
.although{
  /*POSITION*/
  padding-left: 5%;
  width: 81%;
  line-height: 167%;
  /*FONT*/
  font-family: poppins;
  font-size: 0.8em;
  color: white;
}
.globalCompany{
  position: absolute;
  top: 64%;
  left: 15%;
  width: 144%;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  font-size: 6em;
}
.forwardThinking{
  width: 76%;
  height: 7%;
  margin: 0;
  position: absolute;
  right: 11%;
  bottom: 22.5%;
  text-align: center;
  font-family: 'Abraham Lincoln';
  font-weight: 100;
  font-size: 4em;
}
.verticalLine{
  position: absolute;
  left: 35%;
  bottom: 18%;
  width: 15%;
  height: 5%;
  border-right: solid 0.3em black;
}
.whatCustomersSay{
  position: absolute;
  bottom: 12%;
  left: 36%;
  z-index: 5;
  text-align: center;
  padding: 5% 0;
  font-size: 2em;
  font-weight: 100;
}
/*MOVES TESTIMONIALS*/
.testimonialContainer{
  position: absolute;
  top: 87%;
  right: -5%;
  width: 90%;
  height: 11.5%;
}
/*STYLING FOR ALL TESTIMONIAL BOXES*/
.testimonials{
  width: 26%;
  height: 100%;
  text-align: center;
  margin-right: 2%;
}
}
.customerPicture{
  padding: 10% 0 15% 1%;
}
.stars{
  padding-left: 31%;
  display: block;
}
.gregoryBradley{
  background-color: #ffffff;
  float: left;
}
.jonathanKraus{
  float: left;
  background-color: #694fca;
  box-shadow: 0.5em 0.5em 0.8em;
}
.carolineDeSmet{
  float: left;
  background-color: #ffffff;
}
.amarillo{
  clear: both;
  color: #ffa800;
}
.customerName{
  margin-bottom: 0.3em;
  color: black;
  letter-spacing: 0.2em;
}
.customerLocation{
  margin: 0;
  font-size: 0.7em;
}
.spacerBlock{
  position: absolute;
  bottom: -7%;
  z-index: -1;
  width: 100%;
  background-color: #E3E7EA;
  height: 15em;
}
/*FOOTER*/
footer{
  /*ADDED COLOR OF LANDSCAPE DIV*/
  clear: both;
  border-top: 8em solid #E5E9EC;
  padding-top: 0%;
  margin-top: 0%;
  background-color: #212121;
}
  /* .footerHeader CONTAINS LOGO AND CONTACT INFO WITH BOTTOM WHITE BORDER */
.footerHeader{
  clear: both;
  border-bottom: solid rgba(192,192,192,0.1) 1px;
  height: 40%;
  padding: 0 0 2% 6%;
}
.callNow{
  display: inline-block;
  padding-top: 5%;
  color: #ffffff;
}
.fa-phone{
  /* NOT NEEDED YET */
}
.footerUnityStyle{
  display: inline;
  margin: 2% 22%;
}
.fa-envelope{
  display: inline;
  float: left;
  margin-left: 40%;
  color: white;
}
.eMail{
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #5f49b3;
}
.footerFooter{
  position: relative;
  height: 22em;
  width: 115em;
  background-color: #212121;
  width: 75%;
  left: 10%;
  font-size: .8em;
  color: white;
}
.aboutUs{
  background-color: #212121;
  width: 40%;
  float: left;
  margin-right: 2%;
}
.aboutUs p{
  float: right;
  width: 59%;
  line-height: 2;
}
.footerTitle{
  padding: 2% 0;
  font-size: 1em;
}
.newsletter{
  background-color: #212121;
  width: 40%;
  float: left;
}
button{
  background-color: #694FCA;
}
.fromBlog{
  position: absolute;
  right: 5%;
  background-color: #212121;
  width: 25%;
  float: left;
}
.fromBlog ul{
  width: 30em;
  padding: 0;
  margin: 0;
}
.signUp{
  padding-bottom: 5%;
  width: 48%;
  line-height: 1.4;
  background-color: #212121;
}
}
.signUp input{
  background-color: #212121;
  border: 0.2em solid rgba(192,192,192,0.1);
  width: 45%;
  height: 40%;
  font-size: 1.3em;
  color: white;
}
/*BACKGROUND COLOR IN INPUT*/
input[type="Email"], textarea {
  background-color: #212121;
}